{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}
<title>{{ title|title }}</title>
{% endblock title %}

{% block content %}
<div class="hero">
    {% include 'mainapp/menu.html' %}
    <h1>наши контакты</h1>
</div>

<div class="location">
    {% for contact in contacts %}
    <div class="location-1">
        <i class="fa fa-map-marker fa-5x"></i>
        <h4>{{ contact.city }}</h4>
        <div class="contacts">
            <h5>Телефон</h5>
            <p>{{ contact.phone }}</p>
        </div>
        <div class="contacts">
            <h5>Email</h5>
            <p>{{ contact.email }}</p>
        </div>
        <div class="contacts">
            <h5>Адрес</h5>
            <p>{{ contact.address }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}