<div class="header clearfix">
    <a href="{% url 'home' %}" class="logo"></a>
    <ul class="menu">
        <li><a href="{% url 'home' %}" class="{% if title == 'главная' %}active{% endif %}">домой</a></li>
        <li><a href="{% url 'products' %}" class="{% if title == 'продукты' %}active{% endif %}">продукты</a></li>
        <li><a href="{% url 'contact' %}" class="{% if title == 'контакты' %}active{% endif %}">контакты</a></li>
    </ul>
    <a href="#" class="search"></a>
    <a href="#" class="basket"></a>
</div>